<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<center>
<div class="columns">
  <div class="column">
    {% for filename in files %}
      <p>{{ filename }}</p><br>
    {% endfor %}
  </div>
  <div class="column">
    {% for filename in files %}
    {% set download_link = "/download/" + filename %}
    {% set download_link = download_link | urlencode %}
      <a class="button" href="{{download_link}}">Download</a>
    {% endfor %}
  </div>
</div>
</center>
<style>
  .columns {
      background-color: #ABBAEA;
  }
  .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #7aa8b7;
        border-radius: 6px;
        outline: none;
      }
</style>
{% endblock %}