<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
# make two rows of links
<div class="columns">
  <div class="column">
    {% for filename in files %}
    {% set download_link = "/download/" + filename %}
    {% set download_link = download_link | urlencode %}
      <a href={{download_link}}>{{ filename }}</a>
    {% endfor %}
  </div>
  <div class="column">
    {% for filename in files %}
      <p>{{ filename }}</p>
    {% endfor %}
  </div>
{% endblock %}