<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Sole-Zon-Solis
</h1>
<center><img src="{{ url_for('static',filename='solar.jpg') }}" alt="Solar Image"></center>
<div></div>
<h2>Sonnenberg Fields</h2>
<p><div></p>
<div class="columns">
  <div class="column">
    <h3>Arrays</h3>
    {% for row in rows %}
      <p>{{ row[0] }}</p><br>
    {% endfor %}
  </div>
  <div class="column">
    <h3>Voltage</h3>
    {% for row in rows %}
      <p>{{ row[2] }}</p><br>
    {% endfor %}
  </div>
</div>
<style>
  .columns {
      background-color: #ABBAEA;
  }
</style>
{% endblock %}